.container{
    background-color: rgb(168, 159, 159);
    width: 1200px;
    height: 700px;
    margin: auto;
    margin-top: 150px;
    padding-left: 40px;
    padding-top: 20px;
}
#button1{
    width:100px ;
    height: 40px;
    background-color:green;
    color: #ffffff;
    font-size: 30px;
    border-radius: 8px;
    border: none;
}


input{
    width: 350px;
    height: 38px;
}
::placeholder{
    font-size: 25px;
    color: black;
    font-weight: 400px;
    
}
select{
    width: 200px;
    height: 38px;
    font-size: 20px; 

}
 input[type=submit]{
    width:100px ;
    height: 40px;
    background-color:green;
    color: #ffffff;
    font-size: 30px;
    border-radius: 8px;
    border: none; 
}
.congs{
    width: 500px;
    height: 400px;
    background-color: rgb(45, 138, 232);
    position: relative;
    top: -380px;
    margin: auto;
    visibility: hidden;
    transition: 3s ease-in-out;
    transform: translateX(-250%);
    padding-top: 50px;
    padding-left: 50px;
    font-size: 24px;
    color: #ffffff;
}
.form{
    width:400px;
    height: 500px;
    border: 1px solid black;
    padding: 30px;
    background-color: #e9e3e3;
    border-radius: 5PX;
    margin: auto;
    transition: 3s ease-in-out;
    transform: translateY(-180%);
  
}

.apply{
    transform: translateY(0%);
    transition: 3s ease-in-out;
}
.submitted{
  transform: translateX(350%);
  transition: 3s ease-in-out;  
}
.visible{
    visibility: visible;
    transform: translateX(0%);
    transition: 3s ease-in-out;
}


.repeat{
    
    background-color: rgb(209, 27, 27);
    color: white;
    transform: translateY(-200%); 
    transition: 7s ease-in-out; 
    
}






/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
   .container{
    width: 320px;
   }
   .form{
    width: 280px;
    padding-right: 10px;
   }
   .congs{
    width: 280px;
   }
   input{
    width: 220px;
   }
 
 }

/* // Medium devices (tablets, 480px and up) */
@media (min-width: 480px) { 
    .container{
        width: 480px;
       }
       .form{
        width: 400px;
        padding-right: 10px;
       }
       .congs{
        width: 400px;
       }
       input{
        width: 320px;
       }
    
}
/* 
// Large devices (desktops, 720px and up) */
@media (min-width: 720px) {
    .container{
        width: 7200px;
       }
       .form{
        width: 680px;
        padding-right: 10px;
       }
       .congs{
        width: 680px;
       }
       input{
        width: 580px;
       }

       
       
        
    }
 }

/* // X-Large devices (large desktops, 1080px and up) */
@media (min-width: 1080px) {
    .container{
        width: 1080px;
       }
       .form{
        width: 1000px;
       }
       .congs{
        width: 1000px;
       }
       input{
        width: 880px;
       }

  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .container{
        width: 1200px;
       }
       .form{
        width: 1150px;
       }
       .congs{
        width: 1000px;
       }
       input{
        width: 920px;
       }
 }





