
/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
    
    .photo2{
        width: 150px;
        height: 140px;
    
        position: relative;
        margin-left: -560px;
        top: 200px;
    }
    .modules{
        margin-left: 0px;
        position: relative;
        top: 750px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* margin-top: 150px; */
    } 
     .navigation{

background-color: rgb(42, 144, 192);
     }
  
  }
 
 /* // Medium devices (tablets, 480px and up) */
 @media (min-width: 480px) { 
    .photo2{
        width: 200px;
        height: 180px;
    
        position: relative;
        margin-left: -360px;
        top: 180px;
    }
    .modules{
        margin-left: 0px;
        position: relative;
        top: 750px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 150px; */
    } 
    .navigation{
        background-color: rgb(42, 144, 192);
        
             }
             .navigation a{
                color: white;
             }
     
 }
 /* 
 // Large devices (desktops, 720px and up) */
 @media (min-width: 720px) {
    .photo2{
        width: 250px;
        height: 220px;
    
        position: relative;
        margin-left: -340px;
        top: 180px;
    }
        
    .modules{
        margin-left: 0px;
        position: relative;
        top: 750px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 150px; */
    } 
    /* .navigation{
        width: 90%;
        background-color: aquamarine;
             }
          */
     }
  
 
 /* // X-Large devices (large desktops, 1080px and up) */
 @media (min-width: 1480px) {
    .photo2{
        width: 700px;
        height: 650px;
    
        position: relative;
        margin-left: 0px;
        top: -420px;
    }
    .modules{
        margin-left: 350px;
        position: absolute;
        top: 750px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* margin-top: 150px; */
    }
    /* .navigation{
        width: 100%;
        background-color: aqua;
             } */
   }
 
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { 
    .photo2{
        

        width: 700px;
        height: 650px;
    
        position: relative;
        margin-left: 0px;
        top: -420px;
    }
    .modules{
        margin-left: 350px;
        position: absolute;
        top: 250px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        /* margin-top: 150px; */
    }
    /* .navigation{
        width: 100%;
             } */
  }
 
 
 
 
 
 