
/* // Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) { 
    
    .photo2{
        width: 150px;
        height: 140px;
    
        position: relative;
        margin-left: -340px;
        top: 180px;
    }
    .modules{
        margin-left: 0px;
        position: relative;
        top: 450px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* margin-top: 150px; */
    } 
     .navigation{
width: 40%;
     }
  
  }
 
 /* // Medium devices (tablets, 480px and up) */
 @media (min-width: 480px) { 
    .photo2{
        width: 200px;
        height: 180px;
    
        position: relative;
        margin-left: -340px;
        top: 180px;
    }
    .modules{
        margin-left: 0px;
        position: relative;
        top: 450px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 150px; */
    } 
    .navigation{
        width: 50%;
             }
     
 }
 /* 
 // Large devices (desktops, 720px and up) */
 @media (min-width: 720px) {
    .photo2{
        width: 250px;
        height: 220px;
    
        position: relative;
        margin-left: -340px;
        top: 180px;
    }
        
    .modules{
        margin-left: 0px;
        position: relative;
        top: 450px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* margin-top: 150px; */
    } 
    .navigation{
        width: 80%;
             }
         
     }
  
 
 /* // X-Large devices (large desktops, 1080px and up) */
 @media (min-width: 1080px) {
    .photo2{
        width: 700px;
        height: 650px;
    
        position: relative;
        margin-left: 0px;
        top: -420px;
    }
    .modules{
        margin-left: 350px;
        position: absolute;
        top: 250px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        /* margin-top: 150px; */
    }
    .navigation{
        width: 100%;
             }
   }
 
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { 
    .photo2{
        

        width: 700px;
        height: 650px;
    
        position: relative;
        margin-left: 0px;
        top: -420px;
    }
    .modules{
        margin-left: 350px;
        position: absolute;
        top: 250px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        /* margin-top: 150px; */
    }
    .navigation{
        width: 100%;
             }
  }
 
 
 
 
 
 