
.container{
    width: 1200px;
    
}
.about h1{
    visibility: visible;
}
.about:hover h1{
    visibility: visible;}

  .education{font-size: 20px;
   }
   .subjects{
       font-size: 20px;
   } 
body{
    background-color:#999999;
    width: 100%;
    height: 100%;
    margin: auto;
    
}
.associations{
font-size:20px;
}
a:link{
    text-decoration: none;
    font-size: x-small;
}
span{float:
     right;
     height: 10px;
     width: 30px;
     position: absolute;
right:30%;}
.ident{float: right;
     position: absolute;
top:17%;
margin-right: 35%;
font-size: 20px;
margin-left: 20%;
}
.sidebar{
    position: absolute;
    left:0%; 
    top:220px;
    background-color: rgba(194, 188, 188, 0.2);
    width: 20%;
    font-size:100px;
    height: 100%;
    line-height: 2;
    
    
}
   
.navbar1>a{
    font-size:30px;
    margin-left: 30px;
    position: absolute;
    top: 5%;

   
}
.navbarp>a{
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    right: 80%;
    top:5%;
}
.navbar2>a{
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    right:30%;
    top:5%;
   
}

.navbar3>a{
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    right:20%;
  
    top:5%;}
    
.navbar4>a{
    font-size: 30px;
    margin-left: 50px;
    position: absolute;
    right:10%;top:5%;
}
h1{
    margin-left: 50px;
}
.about_icon{
    height: 30px;
    width: 30px;
position: absolute;
left:9px;
top:13px;
}

.about h1{
    transition: 1s ease-in-out;
}

.about:hover h1{
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
}
.education_icon{
    height: 30px;
    width: 30px;
    position: absolute;
    left: 9px;
    transition: 1s ease-in-out;
    
}
.education h1{
    visibility: visible;
    transition: 2s ease-in-out;
}
    
.education:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
}
.ipc_icon{
    height: 30px;
    width: 30px;
    position: absolute;
    left:9px;
    
}
.ipc h1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.ipc:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
    
}
.associations h1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.associations:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
}
.associations_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 9px;
}
.focal_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 9px;
}
.focal h1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.focal:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
}
.incharge_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left:9px;
}
.incharge h1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.incharge:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
}
.trainings_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 9px;
}
.skills_icon{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 9px;
}
.skills h1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.skills:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    border-radius: 10px;
}
.trainings h1{
    visibility: visible;
    transition: 1s ease-in-out;
}
.trainings:hover h1{
    visibility: visible;
    margin-left: 5rem;
    transition: 0.2s ease-in-out;
    background-color: azure;
    
}
.navigation{
    background-color: #565857;

    height: 100px;
    width: 100%;
     /* height: 100px;
    width: 100%;
    /* opacity: 90%; */
    /* height: 100px;
    width: 100%;
    margin-top: 0%;
    position: fixed;
    z-index: 3; */
    
}
nav>a{
    color: #5376d8;
}

.assoc>li{font-size: 40px;}
.paragraph{
    font-size: 20px;
    position: absolute;
    top: 200px;
    margin-left: 400px;
   width: 60%;
    border: 1px solid black;
    padding: 100px;
    background-color: #7a7a76;
}
.heading{
    position: absolute;
    margin-left: 0px;
}
.photo2{
    position: absolute;
    left: 250%;
    height: 660px;
    width: 700px;
    top: 1px;
}
.homepage{
    font-size: 22px;
    position: absolute;
    left: 400px;
    top: 0px;
    margin-right: 30px;
    border: 0,5px solid black;
    border-radius:0%;
    padding: 60px;
    background-color:#7a7a76;
    color: white;
    width: 400px;
    
}
.home{
    font-style: italic;
    font-size: inherit;
    position: relative;
    top: 0px;
   
}
.address{
    position: absolute;
    right:30%;
    top: 120px;
    font-size: 20px;
    
    
}
.address_icon{
    width: 30px;
    height: 30px;
}
.title{
   
    position: relative;
    top: 140px;
    left: 450px;
 
   
   
}
.modules{
    margin-left: 250px;
    position: absolute;
    top: 250px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(12, 18, 18);
    color: white;
    font-size: 20px;
    
    /* visibility: hidden; */
    /* margin-top: 150px; */
}
.nidcap{
    font-size: 20px;
    
}

.appl{
  
 font-size: 28px;
 color: aliceblue;
}
.logo{
    background-color: black;
    border-radius: 50%;
    margin-top: -320px;
}




.homepage{
    transition: 1s ease-in-out; 
}

.homepage:hover{
background-color: rgba(224, 235, 180,0.3);
transition: 1s ease-in-out;
color: rgb(4, 4, 4);
cursor: pointer;
margin-left: 10px;
border-radius: 10px;
}

.address{
    transition: 1s ease-in-out;
}
.address:hover{
    background-color: azure;
    margin-left: 50px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
} 

.photo2{
    transition: 1s ease-in-out; 
    border-radius: 10px;
}
.photo2:hover{
    border-radius: 50%;
    transition: 1s ease-in-out; 
}

.navigation:hover{
    background-color: #0aa3db;
}



